.App {
  background-color: #ccc;
  width: 500px;
/* margin: 30px auto; */

}
.Header{
  text-align: center;
  color:rgb(49, 48, 48);
}
.To_Body{
min-width: 500px;
min-height: 500px ;
justify-content: center;
background-color: #ffffff;
padding: 30px;
border: 1px rgb(192, 191, 191);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
border-style: solid solid none;
}
.Input_text{
  outline: none;
  width: 100%;
  padding: 7px;
  border: 1px solid  rgb(192, 191, 191);
  margin-bottom: 2%;
}
.Icon_group{
  height: auto;
  width: auto;
justify-content: space-between;
border: 1px solid #ddd;
background-color: #f4fbe8;
padding: 12px 20px;
font-weight: 300
}
.Icon_group {
  height: auto;
  width: auto;
}


