.App {
  background-color: #ccc;
  width: 500px;
margin: 30px auto;
}
.To-Body{
min-width: 500px;
min-height: 500px ;
justify-content: center;
background-color: #0000000;
padding: 30px;
border: 1px #ccc;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
border-style: solid solid none;

}

