.Body {
  background-color: #ccc;
 min-width: none width: 500px;
 margin: 10px auto; 
display: 'flex';

}
.Header{
  text-align: center;
  color:rgb(49, 48, 48);
}
.To_Body{
min-width: 500px;
min-height: 500px ;
justify-content: center;
background-color: #ffffff;
padding: 30px;
border: 1px rgb(192, 191, 191);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
border-style: solid solid none;
}
.Input_text{
  outline: none;
  width: 100%;
  padding: 7px;
  border: 1px solid  rgb(192, 191, 191);
  margin-bottom: 2%;
}
.Wrapper_Icon_group{
  height: auto;
  width: 100%;
justify-content: space-between;
border: 1px solid #ddd;
background-color: #d4dec1;
padding: 12px 20px;
font-weight: 300
}
.Icon_button {
  height: auto;
  width: auto;
  align-items: left;
  color: rgb(201, 42, 42);
  font-size: 15px;
  margin-right: 5px;
  cursor: pointer;
  height: 1;
  padding: 5;
  
}