.App {
  background-color: #ccc;
}
.To-Body{
min-width: 150px;
min-height: 150px auto;
align-items: center;
background-color: #fff;
padding: 30px;
border: 1px #ccc;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
border-style: solid solid none;

}

