.App {
  background-color: #ccc;
  width: 500px;
margin: 30px auto;
}
.To-Body{
min-width: 500px;
min-height: 5000px auto;
justify-content: center;
background-color: #fff;
padding: 30px;
border: 2px #ccc;


}

